@media screen and (min-width: 1500px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000000;
    z-index: 1;
  }

  .logo {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-family: myfont;
    color: rgb(190, 190, 190);
    text-decoration: none;
  }

  .logo > span {
    color: aqua;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu > a {
    position: relative;
    color: rgb(170, 170, 170);
    padding: 5px 25px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.86rem;
    letter-spacing: 1px;
    transition: all 0.3s linear;
  }

  .nav-menu > a:hover {
    color: aqua;
  }

  /* underline animation for nav links */

  ul.my-list a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 2px;
    background: aqua;
    transition: all 0.7s ease-out;
  }

  /* underline animation for nav links */

  ul.my-list a:hover:after {
    width: 100%;
    left: 0;
  }

  /* hamburger icons */
  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 1s ease-out;
    transition: all 0.3s ease-out;
    background-color: aqua;
  }

  /* hamburger icons */
  /* head section end*/

  /* main section start*/

  .home-sec {
    padding: 150px 0px;
    position: relative;
  }

  /* info sec */

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 0px;
    gap: 10px 0px;
  }

  .info > h3:first-child {
    color: aqua;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .info > h1:nth-child(2) {
    color: rgb(200, 200, 200);
    font-size: 3.6rem;
  }

  .info > p:nth-child(3) {
    color: rgb(130, 130, 130);
    font-size: 1.6rem;
    width: 60%;
    font-weight: 500;
  }

  .info > a > button {
    background-color: transparent;
    color: aqua;
    border: 1px solid rgb(2, 190, 190);
    padding: 18px 60px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  .info > a > button:hover {
    color: black;
    background-color: aqua;
    box-shadow: 0px 10px 30px rgb(0, 221, 221);
  }

  /* info sec end */
  /* email sec */

  .email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 5%;
    gap: 30px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 50px;
  }

  .email > h3 > a {
    writing-mode: vertical-lr;
    color: rgb(170, 170, 170);
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s linear;
    margin-left: 5px;
  }

  .email > h3 > a:hover {
    color: aqua;
  }

  .email::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    height: 16vh;
    width: 1px;
    position: fixed;
    bottom: 0%;
  }

  /* email sec end */

  /* about sec start */
  .about-sec {
    padding: 80px 0px;
    overflow: hidden;
  }

  .about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px 0px;
  }

  .about-me > h1:first-child {
    font-size: 3.2rem;
    letter-spacing: 1px;
    color: rgb(200, 200, 200);
    text-transform: uppercase;
  }

  .about-me > p:last-child {
    font-size: 1.2rem;
    width: 65%;
    color: rgb(130, 130, 130);
    font-weight: 500;
  }

  /* introduction start */

  .intro-skills {
    display: flex;
    padding: 50px 200px;
    gap: 0 30px;
  }

  .intro {
    display: flex;
    flex-direction: column;
  }

  .intro > h1:first-child {
    color: rgb(200, 200, 200);
    text-align: start;
    text-transform: uppercase;
  }

  .intro > p {
    color: rgb(130, 130, 130);
    width: 80%;
    margin-top: 20px;
    text-align: justify;
  }

  /* introduction start end */

  /* about skills-experience */

  .skills-experience > h1:first-child {
    color: rgb(200, 200, 200);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    width: 400px;
  }

  .skills > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 20px;
    transition: all 0.19s linear;
  }

  .skills > button:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
  }

  /* about skills-experience */
  /* about sec end */
}

@media screen and (min-width: 1800px) and (max-width: 2150px) {
  /* main social sec end */
  nav {
    padding: 60px 80px;
  }

  .logo {
    margin-left: 20px;
    font-size: 2rem;
  }

  .nav-menu > a {
    padding: 9px 30px;
    font-size: 1.3rem;
  }

  /* head section end*/

  /* main section start*/

  .home-sec {
    padding: 280px 0px;
  }

  /* info sec */

  .info {
    gap: 5px 0px;
    padding-top: 100px;
  }

  .info > h3:first-child {
    font-size: 2rem;
  }

  .info > h1:nth-child(2) {
    font-size: 5rem;
  }

  .info > p:nth-child(3) {
    font-size: 2.2rem;
    width: 45%;
  }

  .info > a > button {
    padding: 25px 70px;
    margin-top: 40px;
    letter-spacing: 1px;
    font-size: 22px;
  }

  /* info sec end */
  /* email sec */

  .email {
    height: 75vh;
    padding: 0 100px;
  }

  .email > h3 > a {
    font-size: 1.7rem;
  }

  .email::after {
    height: 18vh;
  }

  /* email sec end */

  /* about sec start */
  .about-me {
    gap: 20px 0px;
  }

  .about-me > h1:first-child {
    font-size: 3.2rem;
  }

  .about-me > p:last-child {
    font-size: 2rem;
    width: 50%;
  }

  .intro-skills {
    padding: 120px 400px;
    gap: 0 0px;
  }

  .intro > h1:first-child {
    font-size: 2.4rem;
  }

  .intro > p {
    width: 85%;
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .skills-experience > h1:first-child {
    margin-bottom: 30px;
    font-size: 2.4rem;
    width: 500px;
  }

  .skills {
    gap: 26px;
    width: 700px;
    padding: 10px;
  }

  .skills > button {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 25px 40px;
  }
}

@media screen and (max-width: 1024px) {
  /* head section*/

  nav {
    padding: 20px 20px;
  }

  .logo {
    font-size: 1.1rem;
  }

  .nav-menu > a {
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 5px 20px;
  }

  .home-sec {
    padding: 100px 0px;
  }

  /* info sec */

  .info {
    gap: 5px 0px;
  }

  .info > h3:first-child {
    font-size: 1.1rem;
  }

  .info > h1:nth-child(2) {
    font-size: 3rem;
  }

  .info > p:nth-child(3) {
    font-size: 1.2rem;
    width: 60%;
  }

  .info > a > button {
    padding: 16px 40px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  /* info sec end */
  /* email sec */

  .email {
    height: 70vh;
    gap: 30px 0px;
  }

  .email > h3 > a {
    font-size: 0.8rem;
  }

  /* email sec end */
  /* about sec start */

  .about-sec {
    padding: 20px 0px;
  }

  .about-me {
    gap: 10px 0px;
  }

  .about-me > h1:first-child {
    font-size: 2.3rem;
  }

  .about-me > p:last-child {
    font-size: 1rem;
    width: 70%;
  }

  .intro-skills {
    padding: 50px 120px;
    gap: 0 15px;
  }

  .intro > h1:first-child {
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .intro > p {
    width: 95%;
    font-size: 0.85rem;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: justify;
  }

  .skills-experience {
    margin-right: -50px;
  }

  .skills-experience > h1:first-child {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 8px;
    width: 340px;
  }

  .skills > button {
    padding: 14px 16px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 840px) {


  .circle{
    display: none;
  }


  /* head section */

  nav {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 10px;
  }

  .nav-menu {
    position: fixed;
    /* left: -100%; */
    left: 0;
    display: none;
    top: 4rem;
    flex-direction: column;
    background-color: aqua;
    color: black;
    width: 100%;
    text-align: center;
    transition: all 0.2s linear;
  }

  .nav-menu.active {
    left: 0;
    display: flex;
  }

  .nav-menu > a {
    color: black;
    padding: 15px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .nav-menu > a:hover {
    color: black;
  }

  ul.my-list a:after {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* head section end  */

  .home-sec {
    padding: 160px 0px;
  }

  /* info sec */

  .info {
    align-items: start;
    text-align: start;
    padding: 0px 30px;
    gap: 10px 0px;
  }

  .info > h3:first-child {
    font-size: 1.2rem;
    font-weight: 1px;
    font-weight: 400;
  }

  .info > h1:nth-child(2) {
    font-size: 2.3rem;
  }

  .info > p:nth-child(3) {
    font-size: 1.3rem;
    width: 80%;
    font-weight: 500;
  }

  .info > a > button {
    padding: 18px 30px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  /* info sec end */
  /* email sec */

  .email {
    display: none;
  }

  /* about sec start */
  .about-sec {
    padding: 0px 0px;
  }

  .about-me {
    gap: 5px 0px;
  }

  .about-me > h1:first-child {
    font-size: 1.8rem;
  }

  .about-me > p:last-child {
    font-size: 1rem;
    width: 80%;
  }

  .intro-skills {
    padding: 0px 40px;
    gap: 50px 0px;
    flex-direction: column;
    margin-top: 65px;
  }

  .intro > h1:first-child {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .intro > p {
    width: 90%;
    font-size: 0.95rem;
    margin-bottom: 15px;
    text-align: start;
  }

  .skills-experience > h1:first-child {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .skills {
    gap: 16px;
    width: 70%;
  }

  .skills > button {
    padding: 17px 26px;
    font-size: 0.78rem;
  }

  .skills > button:hover {
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

@media screen and (max-width: 680px) {
  .home-sec {
    padding: 170px 0px;
  }

  .info > h3:first-child {
    font-size: 1.1rem;
  }

  .info > h1:nth-child(2) {
    font-size: 2.1rem;
  }

  .info > p:nth-child(3) {
    font-size: 1.2rem;
    width: 90%;
  }

  .info > a > button {
    padding: 16px 28px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
  }

  /* info sec end */
  /* about sec start */
  .about-sec {
    margin-top: -40px;
  }

  .about-me > h1:first-child {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .about-me > p:last-child {
    font-size: 1rem;
    width: 80%;
    margin-bottom: 0px;
  }

  .intro-skills {
    padding: 0px 30px;
    gap: 0 20px;
  }

  .intro > h1:first-child {
    font-size: 1.4rem;
  }

  .intro > p {
    font-size: 0.92rem;
  }

  .skills-experience {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .skills-experience > h1:first-child {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .skills {
    gap: 16px;
    width: 80%;
  }

  .skills > button {
    padding: 14px 20px;
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .bar {
    display: block;
    width: 22px;
    height: 2px;
  }

  .nav-menu > a {
    padding: 10px 0px;
    font-size: 0.9rem;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* main section */
  .home-sec {
    padding: 180px 0px;
  }

  /* main social sec end */
  /* info sec */

  .info {
    padding: 0px 30px;
    gap: 10px 0px;
  }

  .info > h3:first-child {
    font-size: 1rem;
    font-weight: 1px;
    font-weight: 400;
  }

  .info > h1:nth-child(2) {
    font-size: 2.2rem;
  }

  .info > p:nth-child(3) {
    font-size: 1.1rem;
    width: 100%;
    font-weight: 500;
  }

  .info > a > button {
    padding: 16px 30px;
    margin: 20px 0px;
    border-radius: 10px;
    font-size: 13px;
  }

  /* about sec start */

  .about-me > h1:first-child {
    font-size: 1.7rem;
    margin-bottom: 2px;
  }

  .about-me > p:last-child {
    font-size: 0.9rem;
    width: 80%;
    margin-bottom: 0px;
  }

  .intro-skills {
    padding: 0px 50px;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  .intro > h1:first-child {
    font-size: 1.3rem;
  }

  .intro > p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    line-height: 20px;
    width: 100%;
    text-align: justify;
  }

  .skills-experience {
    margin-top: 50px;
    margin-right: 0px;
  }

  .skills-experience > h1:first-child {
    font-size: 1.3rem;
    margin-bottom: 30px;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 20px 20px;
  }

  .skills > button {
    padding: 18px 18px;
    font-size: 0.8rem;
    letter-spacing: 0px;
  }
}

