@media screen and (min-width: 1500px) {

    nav {
        padding: 60px 80px;
    }

    .logo {
        margin-left: 20px;
        font-size: 2rem;
    }

    .nav-menu>a {
        padding: 9px 30px;
        font-size: 1.3rem;
    }

    /* head section end*/

    /* main section start*/
    /* main social sec */

    .home-sec {
        padding: 280px 0px;
    }

    .social {
        gap: 40px 0px;
        padding: 0 100px;
    }

    .social>a {
        font-size: 1.8rem;
    }

    .social::after {
        height: 19vh;
    }

    /* main social sec end */
    /* info sec */

    .info {
        gap: 5px 0px;
        padding-top: 100px;
    }

    .info>h3:first-child {
        font-size: 2rem;
    }

    .info>h1:nth-child(2) {
        font-size: 5rem;
    }

    .info>p:nth-child(3) {
        font-size: 2.2rem;
        width: 45%;
    }

    .info>a>button {
        padding: 25px 70px;
        margin-top: 40px;
        letter-spacing: 1px;
        font-size: 22px;
    }

    /* info sec end */
    /* email sec */

    .email {
        height: 75vh;
        padding: 0 100px;
    }

    .email>h3>a {
        font-size: 1.7rem;
    }

    .email::after {
        height: 18vh;
    }

    /* email sec end */

    /* about sec start */
    .about-me {
        gap: 20px 0px;
    }

    .about-me>h1:first-child {
        font-size: 3.2rem;
    }

    .about-me>p:last-child {
        font-size: 2rem;
        width: 50%;
    }

    .intro-skills {
        padding: 120px 400px;
        gap: 0 0px;
    }

    .intro>h1:first-child {
        font-size: 2.4rem;
    }

    .intro>p {
        width: 85%;
        margin-top: 30px;
        font-size: 1.5rem;
    }

    .skills-experience>h1:first-child {
        margin-bottom: 30px;
        font-size: 2.4rem;
        width: 500px;

    }

    .skills {
        gap: 26px;
        width: 700px;
        padding: 10px;
    }

    .skills>button {
        font-size: 22px;
        letter-spacing: 1px;
        padding: 25px 40px;
    }
}

@media screen and (min-width: 1800px) and (max-width: 2150px) {

    /* main social sec end */
    nav {
        padding: 60px 80px;
    }

    .logo {
        margin-left: 20px;
        font-size: 2rem;
    }

    .nav-menu>a {
        padding: 9px 30px;
        font-size: 1.3rem;
    }

    /* head section end*/

    /* main section start*/
    /* main social sec */

    .home-sec {
        padding: 280px 0px;
    }

    .social {
        gap: 40px 0px;
        padding: 0 100px;
    }

    .social>a {
        font-size: 1.8rem;
    }

    .social::after {
        height: 19vh;
    }

    /* main social sec end */
    /* info sec */

    .info {
        gap: 5px 0px;
        padding-top: 100px;
    }

    .info>h3:first-child {
        font-size: 2rem;
    }

    .info>h1:nth-child(2) {
        font-size: 5rem;
    }

    .info>p:nth-child(3) {
        font-size: 2.2rem;
        width: 45%;
    }

    .info>a>button {
        padding: 25px 70px;
        margin-top: 40px;
        letter-spacing: 1px;
        font-size: 22px;
    }

    /* info sec end */
    /* email sec */

    .email {
        height: 75vh;
        padding: 0 100px;
    }

    .email>h3>a {
        font-size: 1.7rem;
    }

    .email::after {
        height: 18vh;
    }

    /* email sec end */

    /* about sec start */
    .about-me {
        gap: 20px 0px;
    }

    .about-me>h1:first-child {
        font-size: 3.2rem;
    }

    .about-me>p:last-child {
        font-size: 2rem;
        width: 50%;
    }

    .intro-skills {
        padding: 120px 400px;
        gap: 0 0px;
    }

    .intro>h1:first-child {
        font-size: 2.4rem;
    }

    .intro>p {
        width: 85%;
        margin-top: 30px;
        font-size: 1.5rem;
    }

    .skills-experience>h1:first-child {
        margin-bottom: 30px;
        font-size: 2.4rem;
        width: 500px;

    }

    .skills {
        gap: 26px;
        width: 700px;
        padding: 10px;
    }

    .skills>button {
        font-size: 22px;
        letter-spacing: 1px;
        padding: 25px 40px;
    }
}

@media screen and (max-width: 1024px) {

    /* head section*/

    nav {
        padding: 20px 20px;
    }

    .logo {
        font-size: 1.1rem;
    }

    .nav-menu>a {
        font-size: 0.8rem;
        letter-spacing: 1px;
        padding: 5px 20px;
    }

    .home-sec {
        padding: 100px 0px;
    }

    .social {
        height: 70vh;
        gap: 25px 0px;
    }

    .social>a {
        font-size: 1rem;
    }

    /* main social sec end */
    /* info sec */

    .info {
        gap: 5px 0px;
    }

    .info>h3:first-child {
        font-size: 1.1rem;
    }

    .info>h1:nth-child(2) {
        font-size: 3rem;
    }

    .info>p:nth-child(3) {
        font-size: 1.2rem;
        width: 60%;
    }

    .info>a>button {
        padding: 16px 40px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    /* info sec end */
    /* email sec */

    .email {
        height: 70vh;
        gap: 30px 0px;
    }

    .email>h3>a {
        font-size: 0.8rem;
    }

    /* email sec end */
    /* about sec start */

    .about-sec {
        padding: 20px 0px;
    }

    .about-me {
        gap: 10px 0px;
    }

    .about-me>h1:first-child {
        font-size: 2.3rem;
    }

    .about-me>p:last-child {
        font-size: 1rem;
        width: 70%;
    }

    .intro-skills {
        padding: 50px 120px;
        gap: 0 15px;
    }

    .intro>h1:first-child {
        text-align: start;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .intro>p {
        width: 95%;
        font-size: 0.85rem;
        margin-bottom: 5px;
        margin-top: 0;
        text-align: justify;
    }

    .skills-experience {
        margin-right: -50px;
    }

    .skills-experience>h1:first-child {
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 8px;
        width: 340px;

    }

    .skills>button {
        padding: 14px 16px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 840px) {

    /* head section */

    nav {
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-left: 10px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: aqua;
        color: black;
        width: 100%;
        text-align: center;
        transition: 0.1s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu>a {
        color: black;
        padding: 15px 0px;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .nav-menu>a:hover {
        color: black;
    }

    ul.my-list a:after {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* head section end  */
    /* main section */

    .home-sec {
        padding: 160px 0px;
    }

    .social {
        display: none;
    }

    /* main social sec end */
    /* info sec */

    .info {
        align-items: start;
        text-align: start;
        padding: 0px 30px;
        gap: 10px 0px;
    }

    .info>h3:first-child {
        font-size: 1.2rem;
        font-weight: 1px;
        font-weight: 400;
    }

    .info>h1:nth-child(2) {
        font-size: 2.3rem;
    }

    .info>p:nth-child(3) {
        font-size: 1.3rem;
        width: 80%;
        font-weight: 500;
    }

    .info>a>button {
        padding: 18px 30px;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 400;
    }

    /* info sec end */
    /* email sec */

    .email {
        display: none;
    }

    /* about sec start */
    .about-sec {
        padding: 0px 0px;
    }

    .about-me {
        gap: 5px 0px;
    }

    .about-me>h1:first-child {
        font-size: 1.8rem;
    }

    .about-me>p:last-child {
        font-size: 1rem;
        width: 80%;
    }

    .intro-skills {
        padding: 0px 40px;
        gap: 50px 0px;
        flex-direction: column;
        margin-top: 65px;
    }

    .intro>h1:first-child {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .intro>p {
        width: 90%;
        font-size: 0.95rem;
        margin-bottom: 15px;
        text-align: start;
    }

    .skills-experience>h1:first-child {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .skills {
        gap: 16px;
        width: 70%;
    }

    .skills>button {
        padding: 17px 26px;
        font-size: 0.78rem;
    }
}

@media screen and (max-width: 680px) {

    .home-sec {
        padding: 170px 0px;
    }


    .info>h3:first-child {
        font-size: 1.1rem;
    }

    .info>h1:nth-child(2) {
        font-size: 2.1rem;
    }

    .info>p:nth-child(3) {
        font-size: 1.2rem;
        width: 90%;
    }

    .info>a>button {
        padding: 16px 28px;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 400;
    }

    /* info sec end */
    /* about sec start */
    .about-sec {
        margin-top: -40px;
    }

    .about-me>h1:first-child {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .about-me>p:last-child {
        font-size: 1rem;
        width: 80%;
        margin-bottom: 0px;
    }

    .intro-skills {
        padding: 0px 30px;
        gap: 0 20px;
    }

    .intro>h1:first-child {
        font-size: 1.4rem;
    }

    .intro>p {
        font-size: 0.92rem;
    }

    .skills-experience {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }


    .skills-experience>h1:first-child {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .skills {
        gap: 16px;
        width: 80%;
    }

    .skills>button {
        padding: 14px 20px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 425px) {

    .logo {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .bar {
        display: block;
        width: 22px;
        height: 2px;
    }

    .nav-menu>a {
        padding: 10px 0px;
        font-size: 0.9rem;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* main section */
    .home-sec {
        padding: 180px 0px;
    }

    /* main social sec end */
    /* info sec */

    .info {
        padding: 0px 30px;
        gap: 10px 0px;
    }

    .info>h3:first-child {
        font-size: 1rem;
        font-weight: 1px;
        font-weight: 400;
    }

    .info>h1:nth-child(2) {
        font-size: 2.2rem;
    }

    .info>p:nth-child(3) {
        font-size: 1.1rem;
        width: 100%;
        font-weight: 500;
    }

    .info>a>button {
        padding: 16px 30px;
        margin: 20px 0px;
        border-radius: 10px;
        font-size: 13px;

    }

    /* about sec start */

    .about-me>h1:first-child {
        font-size: 1.7rem;
        margin-bottom: 2px;
    }

    .about-me>p:last-child {
        font-size: 0.9rem;
        width: 80%;
        margin-bottom: 0px;
    }

    .intro-skills {
        padding: 0px 50px;
    }

    .intro {
        display: flex;
        justify-content: center;
    }
    
    .intro>h1:first-child {
        font-size: 1.3rem;
        
    }

    .intro>p {
        font-size: 0.8rem;
        margin-bottom: 10px;
        line-height: 20px;
        width: 100%;
        text-align: justify;
    }

    .skills-experience {
        margin-top: 50px;
        margin-right: 0px;
    }

    .skills-experience>h1:first-child {
        font-size: 1.3rem;
        margin-bottom: 30px;
    }

    .skills {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        gap: 20px 20px;
    }

    .skills>button {
        padding: 18px 18px;
        font-size: 0.8rem;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 375px) {

    .logo {
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin-left: 0px;
    }

    .bar {
        display: block;
        width: 20px;
        height: 2px;
    }

    .nav-menu>a {
        padding: 10px 0px;
        font-size: 0.8rem;
    }

    /* main section */
    /* info sec */

    .info {
        padding: 0px 20px;
        gap: 10px 0px;
    }

    .info>h3:first-child {
        font-size: 1rem;
    }

    .info>h1:nth-child(2) {
        font-size: 2.2rem;
    }

    .info>p:nth-child(3) {
        font-size: 1.1rem;
    }

    .info>a>button {
        padding: 16px 30px;
        margin: 10px 0px;
        font-size: 12px;
    }




    /* about sec start */

    .about-me>h1:first-child {
        font-size: 1.6rem;
    }

    .about-me>p:last-child {
        font-size: 0.85rem;
        width: 85%;
    }

    .intro-skills {
        padding: 0px 40px;
    }
    
    .intro>h1:first-child {
        font-size: 1.2rem; 
    }

    .intro>p {
        font-size: 0.75rem;
    }

    .skills-experience {
        margin-top: 40px;
    }

    .skills-experience>h1:first-child {
        font-size: 1.2rem;
    }

    .skills>button {
        padding: 16px 16px;
        font-size: 0.8rem;
        letter-spacing: 0px;
    }

}

@media screen and (max-width: 324px) {

    /* main section */
    /* info sec */

    .info {
        padding: 0px 20px;
    }

    .info>h3:first-child {  
        font-size: 0.9rem;
    }

    .info>h1:nth-child(2) {
        font-size: 2.1rem;
    }

    .info>p:nth-child(3) {
        font-size: 1rem;
    }

    /* info sec end */

    
    /* about sec start */

    .about-me>h1:first-child {
        font-size: 1.4rem;
    }

    .about-me>p:last-child {
        font-size: 0.78rem;
        width: 80%;
    }

    .intro-skills {
        padding: 0px 30px;
    }
    
    .intro>h1:first-child {
        font-size: 1.1rem;
        
    }

    .intro>p {
        font-size: 0.7rem;
        margin-bottom: 8px;
        line-height: 18px;
    }

    .skills-experience {
        margin-top: 30px;
    }

    .skills-experience>h1:first-child {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .skills {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        gap: 15px 10px;
    }

    .skills>button {
        padding: 14px 6px;
        font-size: 0.7rem;
        letter-spacing: 0px;
    }
}