@font-face {
    font-family: myfont;
    src: url(./font/PLANK___.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.logo {
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-family: myfont;
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.logo>span {
    color: aqua;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;

}

.nav-menu>a {
    position: relative;
    color: rgb(150, 150, 150);
    padding: 5px 25px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu>a>li{
    font-size: 0.85rem;
}

  
  
  ul.my-list li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 2px;
    background: aqua;
    transition: all 0.5s ease-out;
  }
  
  ul.my-list li:hover:after {
    width: 100%;
    left: 0;
  }
  










.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bar:active {
    background-color: blue;
}







